*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Century Gothic';
    background-color: rgb(51, 46, 46); 
}

.texto-slider
{
    background-color: transparent;
}

section
{
    margin-left: auto; 
    margin-right: auto;
}

span
{
    color : orange;
}

.log
{
    background-color: rgb(51, 46, 46); 
}

h1
{
    font-size: 45px;
    color: white;
    font-weight: 800;
}

.form-control
{
    background-color: rgb(70, 61, 61);
    color: white;
    border: none;
    outline: none;
    padding: 23px 10px;
}

.form-control:focus
{
    background-color: rgb(63, 56, 56);
    outline: none;
    color: white;
}

.btn1
{
    background: orange;
    color: black;
    outline: none;
    border: none;
    height: 50px;
    width: 110px;
}

.btn1:hover
{
    background: rgb(235, 152, 78);
    color: white;
    outline: none;
    border: none;
    height: 50px;
    width: 110px;
    font-weight: bold;
}

